@{
    ViewData["Title"] = "ForgetPassword";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Deskify</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light font-weight-bold" style="background-color:black" ;>
        <div class="container-fluid">
            <img class="hm-logo" alt="" style="height:80px" src="~/img/deskify_logo.svg" />
            <a class="navbar-brand" asp-area="" asp-controller="Home" style="color:white;font-size:xx-large" asp-action="Index">Deskify_</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"><i class="fa fa-navicon" aria-hidden="true" style="color:#fff; font-size:28px"></i></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    </li>
                    <li>
                        <a href="http://sitecore_deskify.local/login" class="nav-link text-white" asp-area="" asp-controller="LoginTable" asp-action="Index">Login</a>
                    </li>
                    <li class="nav-item">
                        <a href="http://sitecore_deskify.local/employeeregiser" class="nav-link text-white" asp-area="" asp-controller="Register" asp-action="EmployeeRegister1">Register</a>
                    </li>


                </ul>
            </div>
        </div>
    </nav>
</header>

<body>
    <form method="post">
        <section style="margin-top:70px">
            <div class="container-fluid h-custom">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-md-9 col-lg-6 col-xl-5">
                        <img src="~/img/Secure data.gif"
                             class="img-fluid" alt="Sample image">
                    </div>
                    <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                        <form>

                            @if (ViewBag.status == null)
                            {
                                <h3>Reset Password</h3>
                                <br />
                                <!-- Email input -->
                                <div class="form-outline mb-4">
                                    <input asp-for="LoginTable.Password" required type="password" id="form3Example3" class="form-control form-control-lg"
                                           placeholder="Enter new password" />
                                    <label class="form-label" for="form3Example3">New Password</label>
                                </div>
                                <div class="form-outline mb-4">
                                    <input asp-for="SecurityQuestion" required type="text" id="form3Example3" class="form-control form-control-lg"
                                           placeholder="What city were you born in?" />
                                    <label class="form-label" for="form3Example3">Security Question</label>
                                </div>


                                <div class="text-center text-lg-start mt-4 pt-2">
                                    <button type="submit" class="btn btn-dark btn-lg"
                                            style="padding-left: 2.5rem; padding-right: 2.5rem;" onclick="password()">
                                        Change password
                                    </button>
                                </div>

                            }
                            else
                            {
                                if (ViewBag.status == "Ok")
                                {
                                    <script>
                                        alert("Password Updated Successfully!!")
                                    </script>
                                    <h3 class="text-xl-center">
                                        Password is changed successfully. <br>You can <a asp-controller="LoginTable" asp-action="Index">Login</a> now.
                                    </h3>

                                }
                                else if (ViewBag.status == "Error")
                                {
                                    <h3 class="text-xl-center">
                                        You have entered wrong security answer.<br>You can <a asp-controller="Register" asp-action="ForgetPassword" style="color:red">Try Again</a>.
                                    </h3>

                                }
                            }
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </form>
    <script>
        function password() {
            let val = confirm("Are you sure you want to change password?");
            if (val == false) {
                return event.preventDefault();
            }
        }
    </script>
</body>
<footer class="footer text-muted" style="background-color:black">
    <div class="container">
        &copy; 2023 Deskify. All Rights Reserved.<a asp-area="" asp-controller="Home" asp-action="Privacy"></a>
    </div>
</footer>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>


